nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: map-get($colors, "neutral-5");
	z-index: 150;

	.container {
		@include flexCenter;
		justify-content: space-between;
		position: relative;
		height: 80px;

		.logo {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.navigation {
			@include flexCenter;
			height: 100%;

			.list-item {
				height: 100%;

				.btn {
					height: 100%;
					padding: 0 12px;
					border: none;
					background-color: inherit;
				}
			}

			.selected {
				color: map-get($colors, "primary");
				font-weight: 700;
				box-shadow: 0 -2px 0 map-get($colors, "primary") inset;
			}
		}

		.actions {
			display: flex;
			gap: 24px;
		}
	}
}
