nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: map-get($colors, "neutral-5");
	z-index: 150;

	.container {
		@include flexCenter;
		justify-content: space-between;
		position: relative;
		height: 80px;

		.burger {
			background-color: map-get($colors, "neutral-5");
			border: none;

			@include min-breakpoint(768px) {
				display: none;
			}
		}

		.logo {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.actions {
			display: flex;
			gap: 24px;
		}
	}
}
