:root {
	--main-img-width: min(50vw, 600px);
	--main-img-height: min(43.333vw, 500px);
}

@include m-screen {
	:root {
		--main-img-width: 100%;
		--main-img-height: 300px;
	}
}

@include m-screen {
	$main-img-width: 100%;
}

.product-details {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: min(2.5vw, 60px);
	margin-top: 80px;

	@include m-screen {
		flex-direction: column;
		gap: 32px;
	}

	.gallery {
		display: flex;
		gap: 20px;

		@include l-screen {
			flex-direction: column-reverse;
		}

		@include m-screen {
			width: 100%;
		}

		.small-images {
			height: var(--main-img-height);
			width: 80px;
			overflow-y: scroll;
			border: map-get($colors, "neutral-3") solid 2px;

			@include l-screen {
				overflow-x: scroll;
				overflow-y: hidden;
				width: var(--main-img-width);
				height: auto;
			}

			.small-images-inner-wrapper {
				margin: auto;
				display: flex;
				flex-direction: column;
				gap: 8px;

				@include l-screen {
					flex-direction: row;
					width: min-content;
				}

				.small-image-wrapper {
					position: relative;
					width: 100%;
					padding-top: 100%;
					overflow: hidden;
					border: transparent solid 2px;
					flex-shrink: 0;

					@include l-screen {
						width: 60px;
						height: 60px;
						padding: 0;
					}

					img {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 100%;
					}
				}
				.selected {
					border: map-get($colors, "neutral-2") solid 2px;
				}
			}

			&::-webkit-scrollbar {
				width: 6px;
				height: 6px;
			}
			&::-webkit-scrollbar-thumb {
				background-color: #535353;
				border-radius: 3px;
			}
		}
		.main-image-wrapper {
			position: relative;
			width: var(--main-img-width);
			height: var(--main-img-height);
			border: map-get($colors, "neutral-3") solid 1px;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				max-width: 100%;
				max-height: 100%;
			}
		}
	}

	.product-info {
		display: flex;
		flex-direction: column;
		gap: 28px;
		width: 290px;

		@include m-screen {
			width: 100%;
		}

		.product-title {
			@include flexColumn(16px);
		}
		.product-attributes {
			@include flexColumn(20px);
		}
		.product-price {
			@include flexColumn(12px);
		}
	}
}
